.c-btn
  display: grid
  text-decoration: none
  text-align: center
  cursor: pointer
  outline: none
  transition: 0.15s
  
  &__icon
    font-size: 12px

  +mod('--medium')
    width: 100%
    min-width: 30px
    min-height: 28px
    padding: 6px 8px
    border-radius: 5px
    border: 1px solid transparent
    font-size: 14px

  +mod('--small')
    width: 100%
    min-width: 25px
    min-height: 25px
    padding: 5px 8px
    border-radius: 5px
    border: 1px solid transparent

  +mod('--ghost')
    background: transparent !important
    border: 1px solid $color-dark

  +mod('--circle')
    border-radius: 50%

  +mod('--icon')
    .c-btn__content
      display: grid
      justify-items: center
      align-items: center
      pointer-events: 

  +mod('--iconed')
    .c-btn__content
      display: grid
      justify-items: center
      align-items: center
      grid-template-columns: auto auto
      grid-gap: 5px
      pointer-events: 

  +mod('--blue')
    background: $color-blue
    border-color: $color-blue
    color: white
    +on-event
      background: darken($color-blue, 12%)
    &:disabled
      opacity: 0.5
      cursor: not-allowed

    +mod('--ghost')
      color: $color-blue
      border-color: rgba($color-blue, 0.3)
      +on-event
        background: $color-blue !important
        color: white

  +mod('--success')
    background: $color-success
    color: white
    +on-event
      background: darken($color-success, 12%)
    &:disabled
      opacity: 0.5
      cursor: not-allowed

  +mod('--danger')
    background: $color-danger
    border-color: $color-danger
    color: white
    +on-event
      background: darken($color-danger, 12%)
    &:disabled
      opacity: 0.5
      cursor: not-allowed

    +mod('--ghost')
      color: $color-danger
      border-color: rgba($color-danger, 0.3)
      +on-event
        background: $color-danger !important
        color: white

  +mod('--warning')
    background: $color-warning
    border-color: $color-warning
    color: white
    +on-event
      background: darken($color-warning, 12%)
    &:disabled
      opacity: 0.5
      cursor: not-allowed

    +mod('--ghost')
      color: $color-warning
      +on-event
        background: $color-warning !important
        color: white

  +mod('--grey')
    background: $color-grey-smoke
    color: $color-grey-dark
    +on-event
      background: darken($color-grey-smoke, 10%)

  +mod('--wide')
    width: 100%
    max-width: 100%

    +on-event
      animation: none