doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='theme-color' content="#3e8cf8")
  meta(http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate")
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Expires" content="0")
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700&amp;subset=cyrillic-ext')
  link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
  title gencode-reacts
body
  main#root.container(role='main')